<nav>
    <mat-icon class="hamburger-menu" aria-hidden="false" aria-label="Example home icon"
        (click)="toggleMenu()" *ngIf="!menuOpen">menu</mat-icon>
    <mat-icon class="closeHamMenu" (click)="toggleMenu()" *ngIf="menuOpen">close</mat-icon>

    <img class="navbar-img" src="../../../../assets/pictures/sangreal-logo.png-Photoroom.png-Photoroom.png"
        alt="SANGREAL">

    <div class="web-pc-view-navbar">
        <ul *ngFor="let nav of navBar">
            <li class="liNav">{{nav}}</li>
        </ul>
    </div>

    <div class="signInContainer">
        <p id="signIn" (click)="openSignInDialog()">sign in</p>
    </div>
</nav>

<div class="mobile-view-navbar" [ngClass]="{'open': menuOpen}">
    <ul *ngFor="let nav of navBar" class="list">
        <li class="liNav">{{nav}}</li>
    </ul>
</div>
